@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cursor-point: url(../images/pointer.svg);
  --main-color: #3040C4;
  --main-color-50: #3040c480;
}

body {
  padding-top: 60px;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px;
  height: 60px;
  background: #fff;
  box-shadow: 0 5px 4px 1px #d7d7d7;
  z-index: 1500;
}

.menu {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  padding: 40px;
  box-shadow: 5px 0px 4px 1px #d7d7d7;
  background: #fff;
  transition: transform .3s linear;
  z-index: 1501;
  transform: translateX(-110%);
}

.menu.active {
  transform: translateX(0);
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 10px 0;
  font-size: 20px;
  cursor: pointer;
}

#text {
  padding: 30px;
  font-size: 18px;
  cursor: pointer;
}